<a href="https://colab.research.google.com/github/almatanjin/B2_CT2_18101088.ipynb/blob/master/B2_CT2_18101088.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
mark = int (input())
if (mark>=80):
  print("A+")
elif (mark>=75):
  print("A")
elif (mark>=70):
  print("A-")
elif (mark>=65):
  print("B+")
elif (mark>=60):
  print("B")
elif (mark>=55):
  print("B-")
elif (mark>=50):
  print("C+")
elif (mark>=45):
  print("C")
elif (mark>=40):
  print("D")
else :
  print("F")

74
A-

2

In [ ]:
num= int(input())
if(num<0):
  print("negative number")
else :
  print("non-negative number")

-1
negative number

3

In [ ]:
l = [10,5,100,4,6]
index = int (input())
index2 = int (input())
temp=0
temp=l[index]
l[index]=l[index2]
l[index2]=temp
print(l)

2
4
[10, 5, 6, 4, 100]

In [ ]:
l2=[0,0,0,0,0]
element1=int(input())
element2=int(input())
element3=int(input())
element4=int(input())
element5=int(input())
index = int (input())
index2 = int (input())
temp=0
l2[0]=element1
l2[1]=element2
l2[2]=element3
l2[3]=element4
l2[4]=element5
temp=l2[index]
l2[index]=l2[index2]
l2[index2]=temp
print(l2)

10
20
30
40
50
2
3
[10, 20, 40, 30, 50]

In [ ]:
id=[77920,77921,77922,77923]
employees = {
    
    id[0] : {
        "lastname":"jackshon",
    "firstname":"stephen",
    "hiredate":"11-29-1999"
        
    },
    id[1] :{
        "lastname":"rynload",
    "firstname":'sandy',
    "hiredate":'1-04-1992'
        
    },
    id[2] :{
        "lastname":'a',
    "firstname":'b',
    "hiredate":'11'
        
    },
    id[3]:{
        "lastname":'jackson',
    "firstname":'linda',
    "hiredate":'11-2-1990'
        
    }
}

In [ ]:
id[0]

77920

In [ ]:
employees[int(input())]

77920

{'firstname': 'stephen', 'hiredate': '11-29-1999', 'lastname': 'jackshon'}